/* For Template Design View */

/* ===========
 * Banner Area
 * =========== */
#masthead {
	width: 1040px;
	padding: 0px;
	float: left;
}

#header {
	width: 1040px;	
}

#block-menu-menu-sliver {
	width: 500px;	
}

#block-ru-search-rusearch {
	margin-left: 20px;
}

#forms {
	width: 270px;
}

#nav-wrapper {
	/*
	margin-top: -40px;	
	height: 30px;
	*/
	width: 1012px;
}

/* ===========
 * Header Area
 * =========== */
#contentrowhome {
	margin-top: 20px;
}

#home-banner-area {
	/*
	height: 255px;
	*/
}

#home-banner-area img {
	width: 443px;
	height: 225px;	
	margin-top: -16px;
	padding: 0x;
}

#home-banner-area .text-area {
	margin-left: -70px !important;
	margin-top: -65px !important;
}

/* =================
 * Left Sidebar Area
 * ================= */
#side_bar-home {
	width: 150px;
	margin-top: -3px;
	margin-left: 0px;
}
 
/* ==================
 * Right Sidebar Area
 * ================== */
#rightsidebar {
	width: 210px;
	margin-left: 20px;
}

#home-rite_sidebar .panel {
	width:210px;	
}

#home-rite_sidebar img {
	width: 214px !important;
	height: 146px !important;
	padding: 0px;
	margin: 0px;
}

#home-rite_sidebar p {
	width: 215px;	
}

/* =================
 * Main Content Area
 * ================= */
#mainhold {
	width: 1010px;
	height: 600px;
	margin-top: -78px;
}

#main {
	width: 520px;	
	margin-left: -30px;
}
