
/* ======================
 * Override existing tags 
 * ======================
 */
a {
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.4em;
}

a:active {
	color: #d54b5a;
	background-color: #ebeee1;
}

a:hover {
	text-decoration: underline;
}

p,li {
	border: 0;
	color: #000;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

li {
	list-style: disc outside none;
	margin: 0 0 6px 12px;
}

h1,h2 {
	color: #1A4383;
	font-family: 'Times New Roman';
	font-size: 22px;
	font-weight: 400;
	margin: 0 0 14px;
}

h5 {
	font-family: 'Verdana, Geneva, sans-serif';
	font-size: 14px;
	font-weight: 400;
	margin: 14px 0 0;
}

h1.title {
	color: #900;
	padding-bottom: 8px;
	border-bottom: dotted 1px #a4a4a4;
	margin: 0 0 8px;
}

h2.title {
	color: #006D52;
	margin: 0 0 6px;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.panel h1.title {
	color: #D7652E;
	font-size: 24px;
	margin-top: 8px;
}

footer p {
	padding-top: 10px;
	padding-bottom: 20px;
}

ul.flyout li a,.nav-bar li ul li a {
	box-shadow: none;
}

/* =========================
 * Override existing classes 
 * =========================
 */
.bullets-green li {
	color: #fff;
	background: url(http://www.rutgers.edu/sites/core/files/green-bullet.gif) no-repeat scroll 0 4px transparent;
	display: block;
	list-style-image: none;
	margin: 0 0 1px;
	padding: .2em .5em 0 12px;
}

.bullets-orange li {
	color: #c65e15;
}

.carousel-nav a {
	border: 1px solid #FFF;
	float: left;
	height: 29px;
	margin-left: 5px;
	overflow: hidden;
	width: 65px;
}

.carousel-nav a.active {
	height: 29px;
	border: 3px solid #f9cc33;
	width: 65px;
}

.columns #shifting {
	padding: 0;
}

.columns #shifting img {
	width: 100%;
}

.socialmedia h1 {
	margin-bottom: -7px;
}

.socialmedia ul li {
	margin-left: 1px;
	padding-top: 5px;
	list-style: none;
}

.socialmedia img {
	padding-right: 8px;
}

.socialmedia a {
	vertical-align: middle;
}

.more {
	text-align: right;
	padding-top: 12px;
}

.last.more a {
	font-size: 12px;
	font-weight: 400;
}

.item h4 {
	color: #FFF;
	font-family: 'Times New Roman';
	font-size: 25px;
	margin-top: 0;
}

.item p {
	color: #FFF;
	margin-top: -5px;
	width: 210px;
}

.top-bar {
	min-height: 30px;
	line-height: 30px;
	height: 30px;
}

.top-bar ul li a:not(.button) {
	min-height: 30px;
	line-height: 30px;
	height: 30px;
}

.top-bar ul li.has-dropdown .dropdown li:last-child {
	padding-bottom: 0;
}

.top-bar ul li.has-dropdown .dropdown {
	padding: 0;
}

.top-bar ul {
	min-height: 30px;
	line-height: 30px;
	height: 30px;
}

.top-bar ul li.has-dropdown .dropdown li:hover a {
	text-decoration: none;
}

.top-bar ul > li.has-dropdown .dropdown li a {
	white-space: normal;
	padding-bottom: 10px;
	line-height: 1;
}

.top-bar ul li.has-dropdown:hover a,.top-bar ul li.has-dropdown .dropdown li:hover a {
	text-decoration: none;
}

.top-bar ul li:not(.name):hover a,.top-bar ul li:not(.name).active a,.top-bar ul li:not(.name):focus a {
	color: #fff;
}

.top-bar ul li.has-dropdown .dropdown li a:hover,.top-bar ul li.has-dropdown .dropdown li a:focus {
	background: #565149;
}

.top-bar ul li.has-dropdown .dropdown li a {
	background: #7D756B;
}

.nav-bar.vertical {
	background-color: #FFF;
}

.nav-bar.vertical li {
	border-left-style: none;
	border-right-style: none;
	border-color: #ddded0;
	padding: 0;
}

.nav-bar.vertical li a {
	margin-left: -13px;
	line-height: 1.6;
}

.nav-bar.vertical li:last-child {
	border-bottom: solid 1px #ddded0;
}

.nav-bar > li.active > a {
	cursor: pointer;
}

.nav-bar li a:first-child {
	padding-left: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#content_area.span3 {
	width: 253px;
	height: 329px;
}

#carousel_img.span9 {
	width: 727px;
	height: 330px;
}

.panel {
	background-color: #ebeee1;
}

.row {
	width: 100%;
	max-width: 980px;
	min-width: 0;
	margin: 0 auto;
}

.top-bar {
	background-color: #36312a;
}

.top-bar ul li {
	list-style: none none;
	background-color: #36312a;
	margin: 0;
}

.top-bar ul li.has-dropdown .dropdown li a {
	margin-bottom: -8px;
}

.top-bar ul li a:hover,.top-bar ul li.has-dropdown:hover,.top-bar ul li.has-dropdown .dropdown,.top-bar ul li.has-dropdown .dropdown li {
	background-color: #7D756B;
	height: 30px;
}

.top-bar ul li a:not(.button) {
	font-size: 12px;
	font-weight: 500;
	padding-left: 23px;
	padding-right: 23px;
	text-decoration: none;
}

.top-bar ul li.has-dropdown .dropdown li a:not(.button) {
	font-size: 10px;
}

.top-bar ul li a:hover {
	background-color: #7D756B;
	color: #f4d96d;
}

.top-bar ul li.has-dropdown a {
	padding-right: 28px;
	padding-left: 29.5px;
}

.top-bar ul li.has-dropdown a:after {
	border-style: none;
	background: none;
}

.top-bar ul li.has-dropdown .dropdown li a:after {
	background-color: none;
	color: #fff;
	padding-top: 10px;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 11px;
}

.top-bar ul li.has-dropdown .dropdown li a:hover {
	color: #F4D96D;
}

.top-bar ul li:not(.name).active a {
	background-color: #7D756B;
	color: #F4D96D;
}

.top-bar ul li:not(.name).home-active a {
	color: #F9DA6E;
}

.top-bar ul li.active-parent a {
	background: none repeat scroll 0 0 #7D756B;
	cursor: pointer;
}

.top-bar ul li.has-dropdown .dropdown li {
	padding-bottom: 0;
}

/* =======================
 * Override exisiting ID's
 * =======================
 */
#about a:hover,#academics a:hover,#admissions a:hover,#information a:hover,#research a:hover,#care a:hover,#news a:hover {
	color: #F4D96D;
}

#banner {
	width: 702px;
}

#content_area {
	background-color: #7086a2;
	width: 275px;
	height: 325px;
	margin-left: 0;
}

#content_inner {
	width: 210px;
	height: 243px;
}

#context {
	width: 63%;
}

#context p,#context-large p {
	margin: 0 0 12px;
	margin-left: 20px;
}

#context ul,#context-large ul {
	margin-left: 70px;
}

#carouselnav {
	float: right;
	margin-right: -10px;
}

#carouselnav a {
	margin-right: 5px;
	width: 65px;
	height: 29px;
}

#carouselnav.span3 {
	width: 250px;
}

#home a:hover {
	color: #f4d96d;
}

#home-rite_sidebar .panel {
	width: 97%;
	border: none;
}

#home-rite_sidebar .panel+.panel {
	margin-top: -10px;
}

#home-rite_sidebar .panel h2 {
	color: #D7652E;
	margin-top: -6px;
	margin-bottom: 6px;
}

#home-rite_sidebar .panel img {
	width: 105%;
	margin-bottom: 10px;
}

#home-rite_sidebar a {
	color: #017ea5;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin: 14px 0 0;
	margin-bottom: -1px;
	line-height: 18px;
}

#home-rite_sidebar p {
	line-height: 18px;
	margin-bottom: -5px;
	font-weight: 400;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

#main {
	width: 53%;
	margin-left: -30px;
	margin-right: 1px;
	margin-top: 3px;
	margin-bottom: 50px;
}

#main h2.title {
	font-size: 22px;
	font-weight: 500;
	line-height: 25px;
	border-bottom: dotted 1px #a4a4a4;
	padding-bottom: 8px;
}

#main a,#submain a {
	color: #017EA5;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none;
}

#main a:hover,#submain a:hover {
	text-decoration: underline;
}

#main h3,#submain h3 {
	line-height: 16px;
	padding-top: 3px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin: 0 0 14px;
	padding: 0 0 0 20px;
	text-transform: uppercase;
}

#main h4,#submain h4 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	padding-bottom: 4px;
	padding-left: 20px;
}

#main ul {
	margin-left: 2px;
}

#main a.subhead,#submain a.subhead {
	background: url(../img/arrow-blue.gif) no-repeat scroll right 3px transparent;
	color: #017ea5;
	font: bold 14px Arial,sans-serif;
	padding-right: 10px;
	text-decoration: none;
}

#main p {
	margin-bottom: 10px;
}

#page-title {
	color: #000;
	font-family: 'Times New Roman';
	font-size: 27px;
	font-weight: 400;
	line-height: 31px;
	padding-top: 0;
	margin: 0 0 16px;
	overflow: hidden;
}

#side_bar {
	margin-top: 15px;
	padding-left: 5px;
	width: 36%;
}

#side_bar a {
	background: none;
	padding-right: 0;
}

#side_bar h2 {
	color: #FFF;
	background-color: #675c56;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 17px;
	padding: 6px 24px;
	text-align: center;
}

#side_bar ul li {
	background: none repeat scroll 0 0 #EBEEE1;
	margin-top: -14px;
}

#side_bar li {
	list-style: none;
	margin-bottom: 25px;
}

#side_bar li ~ li {
	margin-top: -13px;
}

#side_bar li li {
	margin-bottom: 6px;
	margin-left: 30px;
	padding-bottom: 0;
}

#side_bar ul li h2 {
	margin-bottom: 0;
}

#side_bar a,#side_bar li,#side_bar p {
	font-size: 10px;
	font-weight: 400;
}

#side_bar a {
	color: #017ea5;
	font-family: Verdana, Geneva, sans-serif;
}

#side_bar a:hover {
	text-decoration: underline;
}

#side_bar-home {
	margin-top: -8px;
	max-width: 230px;
}

#side_bar-home ul {
	margin-left: 6px;
	margin-top: 12px;
}

#side_bar-home ul li {
	margin-left: -6px;
	margin-bottom: -1px;
}

#side_bar-home ul li a {
	font-size: 11px;
	line-height: 19px;
}

#side_bar-home ul li a:hover {
	color: #000;
}

#side_bar-home h2 {
	font-size: 20px;
	border-bottom: dotted 1px #a4a4a4;
	padding-bottom: 8px;
}

#side_bar-home .padding+.padding {
	margin-top: -25px;
}

#side_bar p,#side_bar h5 {
	padding: 6px 16px;
}

#side_bar li ul li {
	margin-left: 15px;
	margin-bottom: 5px;
	line-height: 15px;
	list-style-type: disc;
	list-style-position: outside;
	padding-right: 16px;
	padding-bottom: 10px;
}

#side_bar li ul {
	margin-left: 10px;
	margin-top: 20px;
}

#side_bar ul li a {
	color: #127696;
	font-weight: 100;
}

#side_nav {
	width: 23%;
}

#side_nav a {
	font-size: 11px;
	color: #868684;
	margin-left: 0;
}

#side_nav ul li a:hover {
	border-right-color: #f7efc9;
	background-color: #f7efc9;
	color: #b48c00;
}

#side_nav h2 {
	font-family: Verdana;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.4em;
}

#side_nav h3 {
	font-family: Verdana;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.4em;
}

#side_nav .wrapper {
	margin-left: -20px;
}

#side_nav .wrapper h2 {
	color: #000;
	margin-left: -15px;
	margin-top: 15px;
}

#side_nav .panel {
	background-color: #FFF;
	margin-left: -7px;
	margin-top: -5px;
	padding: 15px 12px 20px;
	width: 185px;
}

#side_nav .panel .row:last-child {
	margin-bottom: -15px;
}

#side_nav .panel h2 {
	color: #B86F2B;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: -10px;
	margin-left: -5px;
}

#side_nav .panel .ul .li {
	margin-left: -5px;
}

#slideshow_area {
	width: 980px;
	margin-left: -15px;
}

#submain {
	width: 77%;
	padding-bottom: 50px;
}

#submain #context h2 {
	margin-top: 18px;
}

ul li.has-dropdown ul.dropdown li:hover,.top-bar ul > li.has-dropdown a:after {
	background-color: #565149;
	color: #F4D970;
	padding-top: 0;
}

ul li.has-dropdown ul.dropdown li {
	padding-top: 0;
}

#mobile_dropdown li.title,#mobile_dropdown li.title:hover {
	margin-top: -5px;
	margin-bottom: 0;
	height: 40px;
}

.top-bar ul > li.has-dropdown .dropdown li.has-dropdown > a:after {
	border-style: solid;
	background-color: transparent;
	border-width: 5px;
	border-color: #FFF transparent transparent;
/*margin-top:-10px;
	height:15px;*/
}

.top-bar ul li.has-dropdown .dropdown li a {
	padding: 0;
}

#side_nav .nav-bar {
	max-width: 185px;
	position: relative;
	margin-left: -12px;
}

#side_nav .nav-bar li:hover {
	margin: 0;
	background-color: transparent;
}

#side_nav .nav-bar ul li:hover {
	background-color: transparent;
}

#side_nav .nav-bar li ul li {
	border: 0;
	margin: 0;
	list-style-image: url(../img/gray-square.gif);
	background-color: transparent;
	color: transparent;
	padding: 4px 5px;
}

#side_nav .nav-bar li ul li a {
	background: none no-repeat scroll left center transparent;
	border: medium hidden;
	margin-left: -25px;
	margin-top: -4px;
	margin-bottom: -5px;
	padding-left: 20px;
	width: 185px;
}

#side_nav .nav-bar li {
	border-top-style: solid;
	border-width: 1px;
	border-color: #DDDFD1;
}

#side_nav .nav-bar li a {
	border: none transparent;
}

#side_nav .nav-bar li ul li a:hover {
	text-decoration: none;
	list-style-type: none;
	background-color: #f7efc9;
	color: #b48c00;
}

#side_nav .nav-bar li:active,#side_nav .nav-bar li a:active,#side_nav ul li:active,#side_nav ul li a:active,#side_nav .nav-bar li.active,#side_nav .nav-bar li a.active,#side_nav ul li.active,#side_nav ul li a.active {
	background-color: #ebeee1;
}

#side_nav .item-list ul li a:active,#side_nav .item-list ul li a:hover {
	background: #fff;
	color: #868684;
}

#side_nav .item-list ul li:active {
	background: #fff url(../img/bullet-square-orange.gif) no-repeat;
}

#side_nav .nav-bar li.active a {
	color: #D54B5A;
}

#side_nav .nav-bar li ul.dropdown li a {
	color: #868684;
}

#side_nav .nav-bar li ul.dropdown li a:hover {
	color: #b48c00;
}

#side_nav .nav-bar li ul.dropdown li.active a {
	color: #D54B5A;
}

.top-bar ul li.has-dropdown .dropdown li a {
	text-decoration: none;
	padding-bottom: 0;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

.top-bar ul > li.has-dropdown .dropdown li {
	width: 208px;
}

.top-bar ul > li.has-dropdown:hover a,.top-bar ul > li.has-dropdown .dropdown li:hover a {
	color: #F4D96D;
}

img.inline-left {
	margin: 6px 10px 10px 0;
}

img.inline-right {
	margin: 6px 0 10px 10px;
}

#navigation ul.dropdown li a {
	padding: 8px;
}

#navigation ul.dropdown li.long,#navigation ul.dropdown li.long a,#navigation ul.dropdown li.long:hover {
	padding-bottom: 45px;
	line-height: 150%;
}

#side_nav ul li ul li {
	display: none;
}

#side_nav ul li.active ul li {
	display: block;
}

#side_nav ul li.active ul li a {
	background: url(../img/gray-square.gif) 0 11px no-repeat;
}

.top-bar {
	padding-left: 28px;
}

#mainhold #main h2 {
	margin-top: 18px;
}

/* CSS just for URL transitions - can be removed after final URLs are in place */
#main a.red, #submain a.red {
    color: #990000;
}

#carousel_img {
	margin-left: 0px;
}

#context ul ul {
	margin-left: 30px;
}