/* Subpage Template Design View */


/* == Banner Area == */
#headrow{
	width:987px;
}

#masthead {
	width: 987px;
	height: 85px !important;
}

#header {
	width: 1040px !important;
}

#forms {
	width: 500px;
	margin-top: -40px;
}

ul.menu {
	width:450px;
}

/* == End fo Banner Area == */

/* == Start of Content == */

#contentrow {
	
	width:980px;
}

#submain {
	width:754px;
}

#submain #context{
	padding-top:50px;
	width:50%;	
}

/* == End of Content == */

/* == Start of Right Side Bar == */

#side_bar {
	/*margin-top:0;
	padding-top:50px;
	width:40%;	*/
	width: 220px;
	margin-left: 0px;
	padding-top:20px;
}

#template_right_container{
	width:200px;	
	padding-left:5px;
}

#item1_paragraph{
	font-size:50%;	
}

/* == End of Right Side Bar == */

/* == Start of Left Side Bar == */

#side_bar-home {
	width: 160px;
	margin-top: -980px;
	margin-left:770px;
	padding:0px;
	/*margin-left: 0px;*/
}
/* == End of Left Side Bar == */

/* =====================================================================================  */

/* =================
 * Main Content Area
 * ================= */
#mainhold {
	width: 1010px;
	height:1000px;
	margin-top: -78px;
}

#main {
	width: 520px;	
	margin-left: -30px;
}
